body{
    font-family: Arial, Helvetica, sans-serif;
}
.title-font{
    font-size: 4em;
}
.hero-image{
    height: 30em; 
    width: 40em;
}
.dish-title{
    font-size: 2.5em;
}
.dish-list{
    font-size: 1.5em;
}
.dish-link{
    text-decoration: none;
}
.dish-link.chicken-adobo{
    color: #964B00;  
}
.dish-link.pork-menudo{
    color: #FFA500;  
}
.dish-link.salmon-sinigang{
    color: #006400;  
}